main{
    display: grid;
    height: 2220px;
    padding: 10px;
    grid-template-rows: 1fr auto 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'titulo'
        'linha'
        'pergunta1'
        'pergunta2'
        'pergunta3'
        'pergunta4'
        'pergunta5';

    & .titulo{
        grid-area: titulo;
        justify-self: center;
        
        & h1{
            text-align: center;
            font-size: 80px;
            font-family: 'Inknut Antiqua';
        }
    }

    & hr{
        grid-area: linha;
        border-color: #a50b06;
    }

    & h3{
        display: inline;
        width: auto;
        height: auto;
        background-color: #C90A02;
        font-size: 30px;
        border-radius: 6px;
        margin-left: 1%;
        padding: 4px;
    }

    & #pergunta1{
        grid-area: pergunta1;
        justify-self: left;
    }

    & #pergunta2{
        grid-area: pergunta2;
        margin-left: 10%;
    }

    & #pergunta3{
        grid-area: pergunta3;
        justify-self: center;
        
    }

    & #pergunta4{
        grid-area: pergunta4;
        margin-left: 40%;
        
    }

    & #pergunta5{
        grid-area: pergunta5;
        justify-self: end;
        
    }

    & .resposta{
        background-color: #171F25;
        display: block;
        width: 50vw;
        height: auto;
        padding: 10px;
        border-radius: 20px;
        
        & p{
            font-size: 30px;
            color: #F2EAB7;
            padding: 2px;
        }

        & ol{
            display: block;
            justify-self: center;
            align-items: center;
            padding: 10px;

        }

        & ul{
            display: block;
            justify-self: center;
            align-items: center;
            padding: 15px;

            & li{

                & p{
                    color: #F2EAB7;
                    display: block;
                }
            }
            
        }

        
    }
}

/* ---------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:834px) {
    .cabecalho{
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 50vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    
        & .menus{
    
            & img{
                width: 60px;
                height: 60px;
            }
        }
    
        & .img-logo{

            & img{
                width: 63px;
                height: 58px;
            }
        }
    
        & h4{
            display: none;
    
        }
    
        & .pagina{
            justify-self: center;
            & h2{
                font-size: 50px;
            }
        
        }
        
        & .usuario{
            & img{
                width: 90px;
                height: 45px;
            }
           
        }
    }
    main{
        display: grid;
        height: 2220px;
        grid-template-rows: 1fr auto 1fr 1fr 1fr 1fr 1fr;
    
        & .titulo{

            & h1{
                font-size: 50px;
            }
        }
    
        & h3{
            font-size: 22px;
        }
    
        & .resposta{
            width: 60vw;
            height: auto;
            
            & p{
                font-size: 24px;
            }
        }
    }

    .rodape{
        height: 10vh;
    }

}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:1024px) {
    
    .cabecalho{
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 60vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    
        & .menus{
    
            & img{
                width: 60px;
                height: 60px;
            }
        }
    
        & .img-logo{

            & img{
                width: 63px;
                height: 58px;
            }
        }
    
        & h4{
            display: none;
    
        }
    
        & .pagina{
            justify-self: center;
            & h2{
                font-size: 50px;
            }
        
        }
        
        & .usuario{
            & img{
                width: 90px;
                height: 45px;
            }
           
        }
    }
    main{
        display: grid;
        height: 2220px;
        grid-template-rows: 1fr auto 1fr 1fr 1fr 1fr 1fr;
    
        & .titulo{

            & h1{
                font-size: 50px;
            }
        }
    
        & h3{
            font-size: 22px;
        }
    
        & .resposta{
            width: 60vw;
            height: auto;
            
            & p{
                font-size: 24px;
            }
        }
    }

    .rodape{
        height: 10vh;
    }
}

/* ----------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:595px) {
    
    .cabecalho{
        width: 100vw;
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 50vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    }
    main{
        display: grid;
        height: 1050px;
        grid-template-rows: 1fr auto 1fr 1fr 1fr 1fr 1fr;
    
        & .titulo{

            & h1{
                font-size: 28px;
            }
        }
    
        & h3{
            font-size: 14px;
        }
    
        & .resposta{
            width: 60vw;
            height: auto;
            
            & p{
                font-size: 14px;
            }
        }
    }

    .rodape{
        height: 10vh;
    }
}

/* ---------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:512px) {
    
    .cabecalho{
        width: 101vw;
        height: 70px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 50vw 10vw;
        flex-wrap: wrap;
        gap: 20px;

        & .pagina{
    
            & h2{
                font-size: 24px;
            }
        
        }
        
    }
    main{
        display: grid;
        height: 1050px;
        grid-template-rows: 1fr auto 1fr 1fr 1fr 1fr 1fr;
    
        & .titulo{

            & h1{
                font-size: 28px;
            }
        }
    
        & h3{
            font-size: 14px;
        }
    
        & .resposta{
            width: 60vw;
            height: auto;
            
            & p{
                font-size: 14px;
            }
        }
    }

    .rodape{
        height: 10vh;
    }
}