*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-content: center;
}

main{
    height: 78.9vh;
    padding: 10px;
    
        & .inputs{
            display: grid;
            grid-template-columns: 40vw 30vw;
            grid-template-rows: 16vh 15vh 5vh;
            gap: 10vw;

            & label{
                display: block;
                font-size: 20px;
            }

            & input{
                font-size: 20px;
            }

            & .nome-user{
                justify-self: center;
                gap: 10px;

                & h3{
                    display: inline-block;
                    width: 246px;
                    height: 46px;
                    background-color: black;
                    color: #F2EAB7;
                    font-size: 28px;
                    border-radius: 10px;
                    text-align: center;
                }

                & #campoNomeUser{

                    & input{
                        border-width: 5px;
                        width: 371px;
                        height: 76px;
                        border-color: #752E2B;
                        border-radius: 10px;
                    }
                }
            }

            & .nome{
                justify-self: center;

                
                & h3{
                    display: inline-block;
                    width: 230px;
                    height: 46px;
                    background-color: black;
                    color: #F2EAB7;
                    font-size: 28px;
                    border-radius: 10px;
                    text-align: center;

                }

                & #campoNome{

                    & input{
                        border-width: 5px;
                        width: 371px;
                        height: 76px;
                        border-color: #752E2B;
                        border-radius: 10px;
                    }
                }
            }

            & .senha{
                justify-self: center;

                
                & h3{
                    display: inline-block;
                    width: 108px;
                    height: 46px;
                    background-color: black;
                    color: #F2EAB7;
                    font-size: 28px;
                    border-radius: 10px;
                    text-align: center;

                }

                & #campoSenha{

                    & input{
                        border-width: 5px;
                        width: 371px;
                        height: 76px;
                        border-color: #752E2B;
                        border-radius: 10px;
                    }
                }
            }

            & .email{
                justify-self: center;
                
                & h3{
                    display: inline-block;
                    width: 104px;
                    height: 46px;
                    background-color: black;
                    color: #F2EAB7;
                    font-size: 28px;
                    border-radius: 10px;
                    text-align: center;

                }

                & #campoEmail{

                    & input{
                        border-width: 5px;
                        width: 371px;
                        height: 76px;
                        border-color: #752E2B;
                        border-radius: 10px;
                        
                    }
                }

                & .botao{
                    justify-self: block;
                    width: 5px;
                    height: 5px;
    
                }

            }
        }
}

/* ---------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:834px) {
    
    .cabecalho{
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 50vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    
        & .menus{
    
            & img{
                width: 60px;
                height: 60px;
            }
        }
    
        & .img-logo{

            & img{
                width: 63px;
                height: 58px;
            }
        }
    
        & h4{
            display: none;
    
        }
    
        & .pagina{
            justify-self: center;
            & h2{
                font-size: 50px;
            }
        
        }
        
        & .usuario{
            & img{
                width: 90px;
                height: 45px;
            }
           
        }
    }
    
    main{
        height: 78.9vh;
        padding: 10px;
        
        & .inputs{
            grid-template-columns: 40vw 30vw;
            grid-template-rows: 20vh 20vh;
    
            & label{
                font-size: 15px;
            }
    
            & input{
                font-size: 15px;
            }
    
            & .nome-user{
    
                & h3{
                    width: 150px;
                    font-size: 18px;
                }
    
                & #campoNomeUser{
    
                    & input{
                        width: 271px;
                        height: 66px;
                    }
                }
            }
    
            & .nome{
         
                & h3{
                    width: 150px;
                    font-size: 18px;
    
                }
    
                & #campoNome{
    
                    & input{
                        width: 271px;
                        height: 66px;
                    }
                }
            }
    
            & .senha{
           
                & h3{
                    width: 80px;
                    font-size: 18px;
    
                }
    
                & #campoSenha{
    
                    & input{
                        width: 271px;
                        height: 66px;
                    }
                }
            }
    
            & .email{
                justify-self: center;
                    
                & h3{
                    width: 80px;
                    font-size: 18px;
    
                }
    
                & #campoEmail{
    
                    & input{
                        width: 271px;
                        height: 66px;
                            
                    }
                }
    
            }
        }
    }
    
    .rodape{
        width: 835px;
        height: 90px;
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:1024px) {
    
    .cabecalho{
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 50vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    
        & .menus{
    
            & img{
                width: 60px;
                height: 60px;
            }
        }
    
        & .img-logo{

            & img{
                width: 63px;
                height: 58px;
            }
        }
    
        & h4{
            display: none;
    
        }
    
        & .pagina{
            justify-self: center;
            & h2{
                font-size: 50px;
            }
        
        }
        
        & .usuario{
            & img{
                width: 90px;
                height: 45px;
            }
           
        }
    }
    
    main{
        height: 78.9vh;
        padding: 10px;
        
        & .inputs{
            grid-template-columns: 40vw 30vw;
            grid-template-rows: 20vh 20vh;
    
            & label{
                font-size: 15px;
            }
    
            & input{
                font-size: 15px;
            }
    
            & .nome-user{
    
                & h3{
                    width: 150px;
                    font-size: 18px;
                }
    
                & #campoNomeUser{
    
                    & input{
                        width: 271px;
                        height: 66px;
                    }
                }
            }
    
            & .nome{
         
                & h3{
                    width: 150px;
                    font-size: 18px;
    
                }
    
                & #campoNome{
    
                    & input{
                        width: 271px;
                        height: 66px;
                    }
                }
            }
    
            & .senha{
           
                & h3{
                    width: 80px;
                    font-size: 18px;
    
                }
    
                & #campoSenha{
    
                    & input{
                        width: 271px;
                        height: 66px;
                    }
                }
            }
    
            & .email{
                justify-self: center;
                    
                & h3{
                    width: 80px;
                    font-size: 18px;
    
                }
    
                & #campoEmail{
    
                    & input{
                        width: 271px;
                        height: 66px;
                            
                    }
                }
    
            }
        }
    }
    
    .rodape{
        height: 90px;
    }
}

/* ----------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:595px) {
    
    .cabecalho{
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 50vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    
        & .menus{
    
            & img{
                width: 60px;
                height: 60px;
            }
        }
    
        & .img-logo{

            & img{
                width: 63px;
                height: 58px;
            }
        }
    
        & h4{
            display: none;
    
        }
    
        & .pagina{
            justify-self: center;
            & h2{
                font-size: 40px;
            }
        
        }
        
        & .usuario{
            & img{
                width: 90px;
                height: 45px;
            }
           
        }
    }
    
    main{
        height: 78.9vh;
        padding: 10px;
        
        & .inputs{
            grid-template-columns: 40vw 30vw;
            grid-template-rows: 20vh 20vh;
    
            & label{
                font-size: 15px;
            }
    
            & input{
                font-size: 15px;
            }
    
            & .nome-user{
    
                & h3{
                    width: 150px;
                    font-size: 14px;
                }
    
                & #campoNomeUser{
    
                    & input{
                        width: 171px;
                        height: 66px;
                    }
                }
            }
    
            & .nome{
         
                & h3{
                    width: 150px;
                    font-size: 14px;
    
                }
    
                & #campoNome{
    
                    & input{
                        width: 171px;
                        height: 66px;
                    }
                }
            }
    
            & .senha{
           
                & h3{
                    width: 80px;
                    font-size: 14px;
    
                }
    
                & #campoSenha{
    
                    & input{
                        width: 171px;
                        height: 66px;
                    }
                }
            }
    
            & .email{
                justify-self: center;
                    
                & h3{
                    width: 80px;
                    font-size: 14px;
    
                }
    
                & #campoEmail{
    
                    & input{
                        width: 171px;
                        height: 66px;
                            
                    }
                }
    
            }
        }
    }
    
    .rodape{
        width: 595px;
        height: 90px;
    }
}

/* ---------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:512px) {
    
    .cabecalho{
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 50vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    
        & .menus{
    
            & img{
                width: 60px;
                height: 60px;
            }
        }
    
        & .img-logo{

            & img{
                width: 63px;
                height: 58px;
            }
        }
    
        & h4{
            display: none;
    
        }
    
        & .pagina{
            justify-self: center;
            & h2{
                font-size: 40px;
            }
        
        }
        
        & .usuario{
            & img{
                width: 90px;
                height: 45px;
            }
           
        }
    }
    
    main{
        height: 78.9vh;
        padding: 10px;
        
        & .inputs{
            grid-template-columns: 50vw 30vw;
            grid-template-rows: 20vh 20vh;
    
            & label{
                font-size: 15px;
            }
    
            & input{
                font-size: 15px;
            }
    
            & .nome-user{
    
                & h3{
                    width: 150px;
                    font-size: 14px;
                }
    
                & #campoNomeUser{
    
                    & input{
                        width: 171px;
                        height: 66px;
                    }
                }
            }
    
            & .nome{
         
                & h3{
                    width: 150px;
                    font-size: 14px;
    
                }
    
                & #campoNome{
    
                    & input{
                        width: 171px;
                        height: 66px;
                    }
                }
            }
    
            & .senha{
           
                & h3{
                    width: 80px;
                    font-size: 14px;
    
                }
    
                & #campoSenha{
    
                    & input{
                        width: 171px;
                        height: 66px;
                    }
                }
            }
    
            & .email{
                justify-self: center;
                    
                & h3{
                    width: 80px;
                    font-size: 14px;
    
                }
    
                & #campoEmail{
    
                    & input{
                        width: 171px;
                        height: 66px;
                            
                    }
                }
    
            }
        }
    }
    
    .rodape{
        width: 530px;
        height: 90px;
    }
}

