*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-content: center;
}

body{
    display: grid;
    height: auto;
    align-items: start;
    grid-template-areas: 
        'cabecalho'
        'main'
        'rodape';
}

.cabecalho{
    grid-area: cabecalho ;
    background-color: #171F25;
    align-items: center;
    height: 100px;
    padding: 10px;
    display: grid;
    grid-template-columns: 10vw 30vw 43vw 10vw;
    flex-wrap: wrap;
    gap: 20px;
    

    & .menus{
        

        & img{
            width: 80px;
        height: 80px;
        }
    }

    & .logo{
        display: flex;
        text-decoration: none;
        gap: 20px;
        align-items: center;

    }

    & .img-logo{
        width: min-content;
        height: min-content;

        & img{
            width: 100px;
            height: 100px;
        }
    }

    & h4{
        display: flex;
        height: auto;
        width: auto;
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        color: #ffffff;

    }

    & .pagina{
        display: flex;
        flex-grow: auto;

        & h2{
            color: #F2EAB7;
            font-size: 51px;
            text-align: center;
        }
    
    }

    
    & .usuario{

        flex-grow: auto;

        text-align: right;
        
        & img{
            width: 90px;
            height: 56px;
        }
       
    }
}


main{
    grid-area: main;
    background-color: #F2EAB7;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.rodape{
    grid-area: rodape;
    background-color: #752E2B;
    align-items: center;
    justify-content: center;
    height: 128px;
    display: flex;
    flex-wrap: wrap;

    & p{
        font-size: 2.5vh;
        font-weight: bolder;
    }
}

/* .cabecalhos{
    background-color: #171F25;
    justify-content: space-around;
    align-items: center;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100px;
    display: flex;
}

.menu{
    display: flex;
    width: 80px;
    height: 80px;
    text-align: left;
}

.img-cabecalhos img{
    display: flex;
    width: 70px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 80%;
}

.img-cabecalhos h4{
    display: flex;
    font-weight: bold;
    align-content: center;
    font-size: 31px;
    color: #ffffff;
    position: relative;
    top: 15%;
    right: 70%;
}

.cabecalhos h2{
    display: flex;
    color: #F2EAB7;
    font-size: 51px;
    text-align: center;
    position: relative;
    right: 10%;
}

.user-icon{
    display: flex;
    width: 20px;
    height: 56px;
    text-align: right;
}

#main-ajuda{
    width: auto;
    height: 2200px;
}

h1{
    display: flex;
    position: relative;
    text-align: center;
    margin: 0 auto; 
    width: 20%;
}

main{
    background-color: #F2EAB7;
    align-content: center;
    padding: 30px;
}

h3{
    height: max-content;
    width: max-content;
    background-color: #C90A02;
}

.respostas {
    width: max-content;
    height: max-content;
    background-color: #171F25;
}

.rodape{
    background-color: #752E2B;
    width: auto;
    height: 90px;
    display: flex;
    justify-content: center;
}

.rodape p{
    display: flex;
    position: relative;
    top: 40%;
}

#main-tamanho{
    width: 1585px;
    height: 2816px;
}


.tamanho-img img{
    width: 325px;
    height: 450px;
}

.pessoa-esquerda{
    display: flex;
}

.pessoa-direita{
    display: flex;
    position: relative;
    left: 80%;
}

#dados-erick{
    display: grid;
    background-color: #171F25;
    height: 114px;
    position: absolute;
    top: 140%;
    left: 22.4%;;
}

#dados-luiz{
    display: grid;
    background-color: #171F25;
    height: 119px;
    position: absolute;
    top: 30%;
    right: 100%;
}

#dados-vicenzo{
    display: grid;
    background-color: #171F25;
    height: 114px;
    position: absolute;
    top: 260%;
    left: 22.4%;
} */