main{
    display: grid;
    height: 1478px;
    padding: 10px;
    grid-template-rows: auto auto 1fr ;
    grid-template-areas: 
        'titulo'
        'hr'
        'integrantes';

    & #quem-somos{
        grid-area: titulo;
        height: 50vh;
        text-align: left;

        & h1{
            font-size: 52px;
            padding: 20px;
            font-family: 'Inknut Antiqua';
        }

        & p{
            font-size: 32px;
            padding: 10px;
        }
    }

    & hr{
        grid-area: hr;
        border-color: #752E2B;
    }


    & #integrantes{
        grid-area: integrantes;
        display: inline-block;

        & .pessoas-esquerda{

            & #erick{
                display: flex;
                color: #fff;
                padding: 30px;

                & .fundo-img{
                    background-color: #752E2B;
                    width: 194px;
                    height: 253px;
                    padding: 5px;
                }

                & img{
                    width: 183px;
                    height: 230px;
                }

                & #info-erick{
                    display: block;
                    align-self: center;
                    background-color: #090F13;
                    height: 100px;
                    padding: 20px;

                    & a{

                        & img{
                            height: 48px;
                            width: 52px;
                        }
                    }
                }
            }

            & #vicenzo{
                display: flex;
                color: #fff;
                padding: 30px;

                & .fundo-img{
                    background-color: #752E2B;
                    width: 194px;
                    height: 253px;
                    padding: 5px;
                }

                & img{
                    width: 183px;
                    height: 230px;
                }

                & #info-vicenzo{
                    display: block;
                    align-self: center;
                    background-color: #090F13;
                    height: 100px;
                    padding: 20px;

                    & a{

                        & img{
                            height: 48px;
                            width: 52px;
                        }
                    }
                }
                
            }
        }

        & #luiz{
            display: flex;
            justify-content: right;
            color: #fff;
            text-align: right;
            padding: 30px;
            

            & .fundo-img{
                background-color: #752E2B;
                width: 194px;
                height: 253px;
                padding: 5px;
            }

            & img{
                width: 183px;
                height: 230px;
            }

            & #info-luiz{
                display: block;
                align-self: center;
                background-color: #090F13;
                height: 100px;
                padding: 20px;

                & a{

                    & img{
                        height: 48px;
                        width: 52px;

                    }
                }
            }
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:834px) {

    .cabecalho{
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 50vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    
        & .menus{
    
            & img{
                width: 60px;
                height: 60px;
            }
        }
    
        & .img-logo{

            & img{
                width: 63px;
                height: 58px;
            }
        }
    
        & h4{
            display: none;
    
        }
    
        & .pagina{
            justify-self: center;
            & h2{
                font-size: 50px;
            }
        
        }
        
        & .usuario{
            & img{
                width: 90px;
                height: 45px;
            }
           
        }
    }
    main{
        height: 1478px;
    
        & #quem-somos{
    
            & h1{
                font-size: 45px;
            }
    
            & p{
                font-size: 24px;
            }
        }
    
        & #integrantes{
    
            & .pessoas-esquerda{
    
                & #erick{
    
                    & .fundo-img{
                        width: 194px;
                        height: 253px;
                        padding: 5px;
                    }
    
                    & img{
                        width: 183px;
                        height: 239px;
                    }
    
                    & #info-erick{

                        height: 100px;
                        padding: 20px;
    
                        & a{
    
                            & img{
                                height: 48px;
                                width: 52px;
                            }
                        }
                    }
                }
    
                & #vicenzo{

                    & .fundo-img{

                        width: 194px;
                        height: 253px;
                        padding: 5px;
                    }
    
                    & img{
                        width: 183px;
                        height: 230px;
                    }
    
                    & #info-vicenzo{
                        height: 100px;
                        padding: 20px;
    
                        & a{
    
                            & img{
                                height: 48px;
                                width: 52px;
                            }
                        }
                    }
                    
                }
            }
    
            & #luiz{
    
                & .fundo-img{
                    width: 194px;
                    height: 253px;
                    padding: 5px;
                }
    
                & img{
                    width: 183px;
                    height: 230px;
                }
    
                & #info-luiz{
                    height: 100px;
    
                    & a{
    
                        & img{
                            height: 48px;
                            width: 52px;
    
                        }
                    }
                }
            }
        }
    }

    .rodape{
        height: 10vh;
    }
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:1024px) {
    
    .cabecalho{
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 60vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    
        & .menus{
    
            & img{
                width: 60px;
                height: 60px;
            }
        }
    
        & .img-logo{

            & img{
                width: 63px;
                height: 58px;
            }
        }
    
        & h4{
            display: none;
    
        }
    
        & .pagina{
            justify-self: center;
            & h2{
                font-size: 50px;
            }
        
        }
        
        & .usuario{
            & img{
                width: 90px;
                height: 45px;
            }
           
        }
    }
    main{
        height: 1478px;
    
        & #quem-somos{
    
            & h1{
                font-size: 45px;
            }
    
            & p{
                width: 97vw;
                font-size: 28px;
            }

            
        }

        & hr{
            width: 94vw;
        }
    
        & #integrantes{
    
            & .pessoas-esquerda{
    
                & #erick{
    
                    & .fundo-img{
                        width: 194px;
                        height: 253px;
                        padding: 5px;
                    }
    
                    & img{
                        width: 183px;
                        height: 239px;
                    }
    
                    & #info-erick{

                        height: 100px;
                        padding: 20px;
    
                        & a{
    
                            & img{
                                height: 48px;
                                width: 52px;
                            }
                        }
                    }
                }
    
                & #vicenzo{

                    & .fundo-img{

                        width: 194px;
                        height: 253px;
                        padding: 5px;
                    }
    
                    & img{
                        width: 183px;
                        height: 230px;
                    }
    
                    & #info-vicenzo{
                        height: 100px;
                        padding: 20px;
    
                        & a{
    
                            & img{
                                height: 48px;
                                width: 52px;
                            }
                        }
                    }
                    
                }
            }
    
            & #luiz{
    
                & .fundo-img{
                    width: 194px;
                    height: 253px;
                    padding: 5px;
                }
    
                & img{
                    width: 183px;
                    height: 230px;
                }
    
                & #info-luiz{
                    height: 100px;
    
                    & a{
    
                        & img{
                            height: 48px;
                            width: 52px;
    
                        }
                    }
                }
            }
        }
    }

    .rodape{
        height: 10vh;
    }
}

/* ----------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:595px) {
    
    .cabecalho{
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 50vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    
        & .menus{
    
            & img{
                width: 60px;
                height: 60px;
            }
        }
    
        & .img-logo{

            & img{
                width: 63px;
                height: 58px;
            }
        }
    
        & .pagina{

            & h2{
                font-size: 40px;
            }
        
        }
        
        & .usuario{
            & img{
                width: 90px;
                height: 45px;
            }
           
        }
    }
    main{
        height: 1478px;
    
        & #quem-somos{
    
            & h1{
                font-size: 45px;
            }
    
            & p{
                width: 97vw;
                font-size: 18px;
            }
    
        }

        & hr{
            width: 94vw;
        }
    
        & #integrantes{
    
            & .pessoas-esquerda{
    
                & #erick{
    
                    & .fundo-img{
                        width: 194px;
                        height: 253px;
                        padding: 5px;
                    }
    
                    & img{
                        width: 183px;
                        height: 239px;
                    }
    
                    & #info-erick{

                        height: 100px;
                        padding: 20px;
    
                        & a{
    
                            & img{
                                height: 48px;
                                width: 52px;
                            }
                        }
                    }
                }
    
                & #vicenzo{

                    & .fundo-img{

                        width: 194px;
                        height: 253px;
                        padding: 5px;
                    }
    
                    & img{
                        width: 183px;
                        height: 230px;
                    }
    
                    & #info-vicenzo{
                        height: 100px;
                        padding: 20px;
    
                        & a{
    
                            & img{
                                height: 48px;
                                width: 52px;
                            }
                        }
                    }
                    
                }
            }
    
            & #luiz{
    
                & .fundo-img{
                    width: 194px;
                    height: 253px;
                    padding: 5px;
                }
    
                & img{
                    width: 183px;
                    height: 230px;
                }
    
                & #info-luiz{
                    height: 100px;
    
                    & a{
    
                        & img{
                            height: 48px;
                            width: 52px;
    
                        }
                    }
                }
            }
        }
    }

    .rodape{
        height: 10vh;
    }
}

/* ---------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:512px) {
    
    .cabecalho{
        height: 100px;
        padding: 10px;
        display: grid;
        grid-template-columns: 10vw 10vw 50vw 10vw;
        flex-wrap: wrap;
        gap: 20px;
        
    
        & .menus{
    
            & img{
                width: 60px;
                height: 60px;
            }
        }
    
        & .img-logo{

            & img{
                width: 63px;
                height: 58px;
            }
        }
    
        & .pagina{

            & h2{
                font-size: 40px;
            }
        
        }
        
        & .usuario{
            & img{
                width: 90px;
                height: 45px;
            }
           
        }
    }
    main{
        height: 1478px;
    
        & #quem-somos{
    
            & h1{
                font-size: 45px;
            }
    
            & p{
                width: 97vw;
                font-size: 18px;
            }
    
        }

        & hr{
            width: 94vw;
        }
    
        & #integrantes{
    
            & .pessoas-esquerda{
    
                & #erick{
    
                    & .fundo-img{
                        width: 194px;
                        height: 253px;
                        padding: 5px;
                    }
    
                    & img{
                        width: 183px;
                        height: 239px;
                    }
    
                    & #info-erick{
                        height: 100px;

                        & h3{
                            font-size: 14px;
                        }
    
                        & p{
                            font-size: 14px;
                        }
                    
                        & a{
    
                            & img{
                                height: 29px;
                                width: 38px;
                            }
                        }
                    }
                }
    
                & #vicenzo{

                    & .fundo-img{

                        width: 194px;
                        height: 253px;
                        padding: 5px;
                    }
    
                    & img{
                        width: 183px;
                        height: 230px;
                    }
    
                    & #info-vicenzo{
                        height: 100px;
                        
                        & h3{
                            font-size: 14px;
                        }
    
                        & p{
                            font-size: 14px;
                        }
    
                        & a{
    
                            & img{
                                height: 29px;
                                width: 38px;
                            }
                        }
                    }
                    
                }
            }
    
            & #luiz{
    
                & .fundo-img{
                    width: 194px;
                    height: 253px;
                    padding: 5px;
                }
    
                & img{
                    width: 183px;
                    height: 230px;
                }
    
                & #info-luiz{
                    height: 100px;

                    & h3{
                        font-size: 14px;
                    }

                    & p{
                        font-size: 14px;
                    }
    
                    & a{
    
                        & img{
                            height: 29px;
                            width: 38px;
    
                        }
                    }
                }
            }
        }
    }

    .rodape{
        height: 10vh;
    }
}
  