*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*CABECALHO*/
#cabecalho{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-image: url(../img/banner-1280x640.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 150px;
}
#titulo1{
    color: white; 
    text-align: left;
    font-weight: bold;
    font-size: 55px;
    
}
#cabecalho ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 25px;
    list-style-type: none
}
#cabecalho img{
    width: 70px;
    height: 70px;
    position: relative;
    
}
.link-cabecalho{
    display:flex;
    gap: 100px;
}
#cabecalho{
    background-color: aqua;
    height: 100%;
    width: 100%;
}
/*HELP*/
#conteudo{
    display: flex;
}
#box-help {
    background-color: #1E2836;
    color: #ffff;
    width: 50vw;
    height: 392px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#title-help{
    font-size: 30px;
    font-weight: bold;
}
#help-img{
    width: 45px;
    height: 45px;
}
.text-help {
    text-align: justify;
    margin-right: 60px;
}
hr{
    background-color: #fff;
    border: 0px;
    margin-left: 23px;
    width: 666px;
    height: 3px;
}
/*ABOUT*/
#box-about {
    background-color: #1E2836;
    color: #ffff;
    width: 50vw;
    height: 392px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.titulo-icone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#titulo-about {
    font-size: 30px;
    font-weight: bold;
}
#icone-about {
    width: 45px;
    height: 45px;
}
#texto-about {
    text-align: justify;
    margin-right: 60px;
}
/*CADASTRO*/
#cadastro{
    color: #fff;
    background-color: #4b545f;
    height: 787px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#title{
    font-size: 55px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 90px;
}
.textfield{
    height: 80px;
    width: 660px;
    border-radius: 10px;
    border: 6px solid #CFCACA;
    font-size: 30px;
    padding-left: 23px;
}
.textfield::placeholder{
    font-weight: lighter;
    color: #b6acac;
    opacity: 1;
}
#campoNome{
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
}
#campoEmail{
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;    
}
.campo{
    color: #ff0000;
    font-size: 20px;
    margin-right: 480px; 
}
#button{
    color: #ffffff;
    background-color: #1d2836;
    border: 4px solid #ffffff;
    border-radius: 5px;
    height: 90px;
    width: 250px;
    font-size: 30px;
}